/** 
 *@ common Stylesheet
 *@ 2017-09-19
 *@ Author: zenghongcong
 */
@charset "utf-8";

body{ background: #fff; font-size: 15px; color: #666; }
ul{ list-style: none; }
a{ text-decoration: none; }

.fr{ float: right; }
.fl{ float: left; }
.clear { *zoom: 1; }
.clear:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; overflow: hidden; }
.ell{ overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.ell2{ overflow : hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }
.ell3{ overflow : hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; }

.paginate{ display: inline-block; padding-left: 0; margin: 20px 0; border-radius: 4px; }
.paginate li{ display: inline; }
.paginate li a{ position: relative; float: left; padding: 6px 12px; margin-left: -1px; line-height: 1.5; color: #4183c4; text-decoration: none; background-color: #fff; border: 1px solid #ddd; }
.paginate li.active a{ z-index: 2; color: #fff; cursor: default; background-color: #4183c4; border-color: #4183c4; }
.paginate li.disabled a{ cursor: not-allowed; }
